/* ----- Highscore Card ----- */
.highscore-card {
    width: 50%;
    color: blanchedalmond;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.75rem;
    background-color: rgb(222, 184, 135);
    position: absolute; /* Absolute positiong used to center card inside wrapper */
    top: inherit;
    left: inherit;
    transform: inherit;
    z-index: 201;
  }
  
  .high-scores {
    border: honeydew;
    font-size: 1.5rem;
    color: blanchedalmond;
    text-shadow: 1px 2px 4px black;
    padding: 1.85rem 0px;
  }
  
  .high-score {
    list-style: decimal;
    list-style-position: inside;
    font-size: 1.25rem;
  }
  
  .goback-btn {
    color: white;
    font-size: 1rem;
    font-family: inherit;
    padding: 0 0.5rem;
    background-color: rgba(0, 0, 0, 0.13);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 4px black;
  }
  
  .goback-btn:hover{
    color: rgba(0, 0, 0, 0.2);
    background-color: blanchedalmond;
    box-shadow: 1px 0px 4px black;
  }
  
  .goback-btn:active{
    border: 1px solid gray;
    text-shadow: 0px 0px 0px grey;
  }
  .highscore-hide {
    visibility: hidden;
  }
  section.highscore-show {
    visibility: unset;
  }
  